@{
    ViewBag.Title = "About";
}

<head></head>
<style>
   html{
       font-family: 'Segoe Script';

   }
    body {
        color: white;
        background-color: floralwhite;
        background-image: url("http://www.nikkielledgebrown.com/wp-content/themes/divi-child/images/dress.png");
        text-align: left;
        background-size: contain;
    }
    .center {
        left: 0;
        line-height: 200px;
        margin: auto;
        margin-top: -100px;
        margin-bottom: 10px;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 25px;
        text-shadow: 1px 1px 2px black;
        margin: 50px;
    }


</style>
<body>
   
        <!--<h2>ViewBag.Title.</h2>-->
        <!--<h3>ViewBag.Message</h3>-->
        <div class="center">
        <h1>We decided to create this website over a year ago today at another Hackathon. With absolutely no basic knowledge of Web design, we jumped into the 
            project head first and flooped. HARD. Here we are one year later with a successfully running (ish) website that does all we'd hoped it would a year ago.</h1>
        </div>
</body>
