@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    325 W. Adams Blvd.<br />
    <abbr title="Phone">P:</abbr>
    6197998172
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">klimenko@usc.edu</a><br />

</address>