
@{
    ViewBag.Title = "MyAccount";
}

<h2>MyAccount - This is the test page</h2>

<a href="#" class="button expand">Add Closet</a>
<a href="#" class="button expand">Add Outfit</a>
<a href="#" class="button expand">Share</a>